

/* GENERAL
// ------------------------- */

* {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
html {
	overflow-y: scroll;
}
body {
	color: #172649;
}
header, main, #no-results, footer {
	width: 1000px;
	margin: 0 auto;
}
header {
	position: relative;
	height: 80px;
	margin-top: 40px;
}
main {
	min-height: 360px;
}
.left-column {
	float: left;
	width: 78%;
}
.right-column {
	width: 18%;
	margin-left: 82%;
}



/* SEARCH INPUT
// ------------------------- */

#search-input {
	font-size: 28px;
	font-weight: 100;
	width: 100%;
	padding: 10px 0;
	border: none;
	position: relative;
	border-bottom: 5px solid #eee;
}
#search-input, #search-input:focus {
	transition: border-color .3s ease-in;
	outline: 0;
}
#search-input:focus {
	border-color: #ed5565;
}
#search-input::-webkit-input-placeholder, #search-input:-moz-placeholder, #search-input:-moz-placeholder, #search-input:-ms-input-placeholder {
	font-weight: 100;
	color: #999;
}
#search-input-icon {
	position: relative;
}
#search-input-icon:before {
	position: absolute;
	right: 0;
	bottom: 15px;
	width: 20px;
	height: 20px;
	content: '';
	cursor: default;
	background: url(../img/search_icon.png) no-repeat;
}
#search-input-icon.empty:before {
	cursor: pointer;
	background-image: url(../img/delete_icon.png);
}



/* DEMO LOGO
// ------------------------- */

#demo-logo {
	font-size: 14px;
	font-style: italic;
	text-align: right;
}
#demo-logo img {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 4px;
	position: relative;
	top: 10px;
}



/* HITS
// ------------------------- */

#hits {
	margin: 0 0 4px;
	padding: 0 0 10px;
}
.hit {
	width: 25%;
	float: left;
	font-size: 0;
	padding: 0 0 16px;
	text-align: center
}
.hit-image {
	width: 100%;
}
.hit-image img {
	max-width: 100%;
	max-height: 180px;
}
.hit-content {
	font-size: 13px;
	font-weight: 300;
	display: inline-block;
	width: 83%;
	margin-left: 1%;
	vertical-align: top;
}
.hit-content .hit-name {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
}
.hit-content em {
	font-style: normal;
	background: #fbdde0;
}
.hit-content .hit-likes {
	color: #999;
	margin-top: 0;
}



/* SEARCH OPTIONS
// ------------------------- */

#search-options {
	border: 1px solid #EEE;
	padding: 0 10px;
	min-height: 500px;
}
#search-options h3 {
	margin-bottom: 6px;
}
#search-options p {
	font-size: 13px;
}
#search-options a {
	font-size: 14px;
	transition: all .2s ease-in;
}
#search-options a.set-distinct {
	display: inline-block;
	border: 1px solid #EEE;
	padding: 6px;
	width: 46%;
	margin: 0 0 6px;
	box-sizing: border-box;
	text-align: center;
	color: #172649;
	text-decoration: none;
}
#search-options a.set-distinct:nth-child(2n) {
	margin-right: 4%;
}
#search-options a.set-query {
	display: inline-block;
	border: 1px solid #EEE;
	padding: 6px;
	width: 100%;
	margin: 0 0 6px;
	box-sizing: border-box;
	text-align: center;
	color: #172649;
	text-decoration: none;
}
#search-options a.set-distinct.active, #search-options a.set-distinct:hover, #search-options a.set-query:hover {
	border-color: #ed5565;
	color: #ed5565;
}



/* No-result
// ------------------------- */

.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
	display: none;
}
#no-results-message {
	text-align: center;
}
#no-results-message p {
	font-size: 28px;
	font-weight: 100;
}
a.clear-all {
	font-size: 12px;
	line-height: 1;
	display: inline-block;
	margin: 10px;
	padding: 8px 12px;
	text-decoration: none;
	color: black;
	border: 2px solid #ddd;
	border-radius: 4px;
}
a.clear-all:hover {
	transition: border-color .3s ease-in;
	border-color: #999;
}



/* FOOTER
// ------------------------- */

footer {
	font-size: 14px;
	padding-top: 80px;
	margin-bottom: 24px;
	text-align: center;
	clear: both;
}
footer a {
	text-decoration: none;
	color: #ed5565;
}
footer a:hover {
	text-decoration: underline;
	color: #ed5565;
}


