[submodule "geo-search-demo"]
	path = geo-search-demo
	url = git@github.com:algolia/demo-geo-search.git
	branch = master
[submodule "instant-search/smashingmagazine"]
	path = instant-search/smashingmagazine
	url = git@github.com:algolia/demo-smashingmagazine.git
	branch = master
[submodule "infinite-scroll"]
	path = infinite-scroll
	url = git@github.com:algolia/demo-infinite-scroll.git
	branch = master
[submodule "textarea-autocomplete"]
	path = textarea-autocomplete
	url = git@github.com:algolia/demo-textarea-autocomplete.git
	branch = master
