/* ------------------------------------
     COMMON STYLE
   ------------------------------------ */
#autocomplete-textarea {
  min-height: 80px;
  color: #000;
}

#autocomplete-textarea a {
  text-decoration: none;
  font-weight: normal;
  color: #181818;
}

.dropdown-menu .textcomplete-item a,
.dropdown-menu .textcomplete-item a:hover {
  cursor: pointer;
  font-weight: normal;
  color: #000;
  position: relative;
  padding: 3px 10px;
}

.dropdown-menu .textcomplete-item.active a {
  background: #F0F0F0;
}

/* Highlighting of the matching part 
   of each search result */
.dropdown-menu .textcomplete-item a em {
  font-style: normal;
  font-weight: bold;
}

.dropdown-menu .textcomplete-footer {
  border-top: solid 1px #F0F0F0;
  margin-top: 3px;
}


/* ------------------------------------
     Used in 
     autocomplete-with-pictures.html
   ------------------------------------ */
.dropdown-menu .textcomplete-item a {
  box-sizing: border-box;
  height: 42px;
}

.dropdown-menu .textcomplete-item .picture {
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  width: 32px;
  height: 32px;
  overflow: hidden;
  float: left;
}

  .dropdown-menu .textcomplete-item .picture img {
    width: 32px;
  }

.dropdown-menu .textcomplete-item .name {
  float: left;
  margin: 5px 0 0 5px;
}


/* ------------------------------------
     Used in 
     rich-html-textarea.html
   ------------------------------------ */
.tag-item, .tag-item:visited {
  font-weight: normal;
  padding: 2px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f0f0f0;
  cursor: default;
  border: solid 1px #dadada;
}

  .tag-item:hover {
    text-decoration: none;
  }

  .tag-item .picture-wrapper {
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    top: 3px;
  }

    .tag-item .picture-wrapper img {
      width: 16px;
    }

  .tag-item .label {
    color: #181818;
  }

